# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

bower_components
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/config

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Certificates
rootCA.key
rootCA.pem
rootCA.srl
server.crt
server.csr
server.csr.cnf
server.key
v3.ext

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
