name: Linting Tests

on: push

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Insatll Prettier
        run: "npm install prettier"

      - name: Insatll ESLint
        run: "npm i eslint@6.8.0"

      - name: Run linters
        run: "npx prettier --check ."
